$colorFondo: #0F0416;
$colorLetra: #afafaf;
$colorPag1: #9b59b6;
$colorPag2: rgb(35, 240, 255);
$anchoImgPres: 600px;
$tamañoGal: (
    anchoPerfGal: 50px,
    altoPerfGal: 50px,
    anchoImgGal: 290px,
    altoImgGal: 125px,
);