@import "header";
@import "footer";
@import "variables";

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

body {

    font-family: "Roboto", sans-serif;
    color: $colorLetra;
    font-size: 16px;
}

.indexB {
    display: grid;
    grid-template-areas:
        "header"
        "main1"
        "footer"
    ;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 15px;
    }

    .img2 {
        width: auto;
        height: auto;
    }

    .imgf {
        max-width: 50px;
        max-height: 50px;
    }

    .logoHeader {
        max-width: 150px;
    }
}



/* **************************** Main **************************** */
main {
    padding: 2px;
    background-color: #0F0416;
    width: 100%;
}

.imgsp {
    display: flex;
    justify-content: space-between;
}

.logoGrande {
    padding: 0;
    border: 10px;
    margin-top: 100px;
    grid-area: main1;
    ;
}

.imgPres {
    padding: 0;
    border: 0;
    margin-top: 10px;
    border: 0px;
}

.textPres {
    border: 0rem;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    grid-area: main2;
    border: 10px;
}

.PP {
    border: 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    grid-area: main3;
}

@mixin anim {
    border: 0;
    margin-top: 3px;
    border: 10px;
    position: relative;
}

.planeta {
    @include anim();
    animation: movimientoP 4s linear infinite;
    margin-left: 30%;
}

@keyframes movimientoP {
    0% {
        left: 0;
        top: 0;

    }

    25% {
        top: 0;
        left: -550px;
    }

    50% {
        left: -550px;
    }

    75% {
        left: 0;
    }

    100% {
        top: 0px;
        left: 0;
    }
}

.PC {
    border: 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    grid-area: main4;
}

.cohete {
    @include anim();
    margin-right: 30%;
    animation: movimientoC 4s linear infinite;
}

@keyframes movimientoC {
    0% {
        left: 0;
        top: 0;

    }

    25% {
        top: 0;
        left: 550px;
    }

    50% {
        left: 550px;
    }

    75% {
        left: 0;
    }

    100% {
        top: 0px;
        left: 0;
    }
}

.abc {
    border: 2px;
    display: flex;
    flex-direction: row-reverse;
}

.parrafo1 {
    display: flex;
    flex-flow: row wrap;
    width: 30%;
    margin: 10px;
    padding-top: 15%;
    padding-left: 10%;
    border: 10%;
}

.parrafo2 {
    @extend .parrafo1;
    width: 300px;
}

.parrafosJuntos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-image: url(./imgs/violet-2.jpg);
    grid-area: main5;
}

.parrafo3 {
    border: 10px;
    width: 300px;
    text-align: center;
}

.parrafo4 {
    @extend .parrafo3;
}

.mainGaleria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cajaImg {
    display: inline-block;
    border: 0px;
    margin: 10px;

    &:hover {
        transform: scale(175%);
    }

    .imgPerfGal {
        width: map-get($tamañoGal, anchoPerfGal);
        height: map-get($tamañoGal, altoPerfGal);
    }

    .imgGal {
        width: map-get($tamañoGal, anchoImgGal);
        height: map-get($tamañoGal, altoImgGal);
    }

}